@import "../../assets/styles/main.scss";

.header {
  height: 10%;
  background-color: rgba(5, 32, 60, 1);
  color: $color-white;
  box-sizing: border-box;
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
  z-index: 11;

  &-main {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;

    &__logo {
      display: flex;
      font-size: 3rem;
      letter-spacing: 0.3rem;
      font-weight: 600;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      &-logo {
        background-image: url("../../assets/images/icons/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 3.2rem;
        width: 3.2rem;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__options {
      display: flex;
      align-items: center;
      gap: 3rem;
      box-sizing: border-box;

      &-about {
        font-size: 1.6rem;
        font-weight: 600;
        box-sizing: border-box;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: all 0.5s;
      }

      &-login {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: all 0.5s;

        &__logo {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 2.5rem;
          width: 2.5rem;
        }

        &__text {
          font-size: 1.6rem;
          font-weight: 600;
        }
      }
    }
  }

  .hover {
    &:hover {
      cursor: pointer;
      background-color: rgba(83, 83, 83, 0.6);
      transform: scale(1.05);
      transition: all 0.5s;
    }
  }
}

.button-dims {
  padding: 0.3rem 3rem !important;
  box-sizing: border-box;
  border: 2px solid transparent !important;
  border-radius: 1rem !important;

  &:hover {
    background-color: $color-white !important;
    border: 2px solid $button-color !important;
    color: $button-color !important;
  }
}

@media (max-width: 1450px) {
  .header {
    &-main {
      width: 75%;
    }
  }
}

@include respond(tablet) {
  .header {
    &-main {
      width: 90%;
    }
  }
}
