@import "../../assets/styles/main.scss";

.explore {
  width: 60%;

  &__header {
      height: 5%;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
  
      &--main {
        font-weight: 600;
        font-size: 2.5rem;
      }
  
      &--sub {
        font-weight: 500;
        color: #747474;
        font-size: 1.6rem;
      }
    }
  
  &__main {
    min-height: 40rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
  }
}

.large-text-p {
  font-size: 2.4rem;
}

@include respond(smallscreen) {
  .explore {
    width: 75%;
  }
}
