@import "../../assets/styles/main.scss";

.search-container {
  min-height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $background-primary;
  box-sizing: border-box;
  padding: 3rem;
}

.search {
  min-height: 100%;
  color: white;
  box-sizing: border-box;
  width: 60%;

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    height: 40%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    height: 60%;
    align-items: center;

    &-inputs {
      min-height: 60%;
      height: 60%;
      display: flex;
      align-items: center;
      width: 90%;
      gap: 0.35rem;
      margin-top: 2rem;
      position: relative;

      &--textbox {
        width: 15% !important;
        padding: 1rem !important;
        font-size: 2.2rem !important;
        border: none !important;
        background-color: $color-white;
        display: flex;
        height: 100% !important;
        justify-content: center;
        align-items: center;
      }

      &--date-picker {
        width: 15% !important;
        padding: 1rem !important;
        font-size: 2.2rem !important;
        border: none !important;
        background-color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-button {
      height: 60%;
      width: 8%;
      border-radius: 12%;
      background-color: $bg-button;
      color: white;
      font-size: 2rem;
      font-weight: 600;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Open Sans";
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        background-color: $bg-button-hover;
        transition: all 0.3s;
      }
    }
  }
}

.input-rounded-left {
  border-radius: 0.75rem 0rem 0rem 0.75rem;
}

.input-rounded-right {
  border-radius: 0rem 0.75rem 0.75rem 0rem;
}

.grow {
  min-width: 22% !important;
}

@include respond(smallscreen) {
  .search {
    width: 75%;
  }
}

@include respond(tablet) {
  .search {
    width: 90%;
  }
}
