.profile__info {
    width: 35%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
    gap: 2rem;
    padding: 5rem 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-main {
        display: flex;
        flex-direction: column;
        height: 30%;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

        &--image {
            border-radius: 50%;
            background-color: rgb(205, 223, 248);
            box-sizing: border-box;
            padding: 1rem;

            img {
                height: 12rem;
                width: 12rem;
            }
        }

        &--header {
            font-size: 3rem;
            font-weight: 600;
        }

        &--role {

        }
    }

    &-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60%;
        width: 80%;
        gap: 2rem;

        &--information {
            height: 18%;
            width: 100%;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-sizing: border-box;
            padding: 1rem 3rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.6rem;

            .label {
                font-size: 1.3rem;
                font-weight: 600;
                color: #747474;
            }

            .value {
                font-size: 1.7rem;
            }
        }
    }

    &-manipulation {
        height: 7%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .edit-profile {
            width: 45%;
            height: 100%;
            font-size: 1.3rem;
            text-transform: uppercase;
            border-radius: 1rem;
            background-color: rgb(100, 100, 255);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            transition: all .4s;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            &:hover {
                cursor: pointer;
                background-color: white;
                color: rgb(100, 100, 255);
                border: 1px solid rgb(100, 100, 255);
                transition: all .4s;
            }
        }

        .delete-profile {
            width: 45%;
            height: 100%;
            font-size: 1.3rem;
            text-transform: uppercase;
            border-radius: 1rem;
            background-color: #E52B50;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            transition: all .4s;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            &:hover {
                cursor: pointer;
                background-color: white;
                color: #E52B50;
                border: 1px solid #E52B50;
                transition: all .4s;
            }
        }
    }
}