@import "../../assets/styles/main.scss";

.landing {
  height: 100%;
  width: 100%;

  &__cards {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__explore {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__footer {
    margin-top: 5%;
    background-color: $background-primary;
    width: 100%;
    height: 25%;
  }
}
