@import "../../assets/styles/main.scss";

.landing {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: relative;

  &__search {
    min-height: 12%;
    height: 12%;
    width: 100%;
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 10;
    background-color: $background-primary;
    padding-bottom: 2rem;
    margin-bottom: 3%;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    padding: 3rem 0rem;
  }

  &__cards {
    height: 80%;
    min-height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__explore {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__footer {
    margin-top: 5%;
    background-color: $background-primary;
    width: 100%;
    height: 25%;
  }
}
