@import "../../assets/styles/main.scss";

.search-accommodations {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 5%;
  margin-top: 40px;
}

.search-accommodations-left {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
}

.search-accommodations-left input {
  font-size: 14px;
}

.search-accommodations-left label {
  font-size: 14px;
}

.search-accommodations-right {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80%;

  &__slot-card {
    max-width: 380px;
    min-width: 260px;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

#reservation-button {
  background-color: $button-color;
  color: $color-white;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: all 0.3s;

  &:hover {
    background-color: $button-color-hover;
    transition: all 0.3s;
    cursor: pointer;
  }
}
