$background-primary: rgba(5, 32, 60, 1);
$bg-button: rgb(7, 112, 227);
$bg-button-hover: rgb(8, 78, 178);

$button-color: #00a698;
$button-color-hover: rgb(0, 136, 124);

$color-white: #ffffff;
$color-black: #212427;
