.marker {
    height: 3rem;
    width: 6rem;
    border-radius: 1rem;
    border: 1px solid;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}